/*estilos para la barra de menu*/

.menu {
    padding-left: 15px;
    margin-top: -14px;
    margin-bottom: 0;
    list-style: none;
    background: gainsboro;
    border-bottom-style: ridge;
}


/*estilo para la lista del menu*/

.menu ul {
    margin: 0;
    padding: 5px;
    list-style: none;
    display: flex;
    text-align: center;
}

.menu li a:hover {
    background: grey;
    border-radius: 10px 10px 0 0;
    color: whitesmoke;
}


/*estilos para los item de la lista del menu*/

.menu li {
    flex-grow: 1;
    border-right: 2px solid whitesmoke;
    border-radius: 10px 10px 0 0;
}


/*estilos para relleno menu*/

.menu li a {
    display: block;
    padding: 0;
    text-decoration: none;
    font-size: 23px;
    color: black;
}


/*adaptacion a pantallas mas reducidas*/

@media screen and (max-width:800px) {
    .menu li a {
        font-size: 13px;
    }
}